<section style="background-color: rgb(255, 253, 253);">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{ list.Car.image }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ list.Car.marque +' '+ list.Car.type }}</h5>
          </div>
        </div>

        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-4">
            <h2 class="h5 mb-20">Avancement du réparation</h2>
            <circle-progress [percent]='list.avancement' [radius]='100' [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Marque</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.Car.marque }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Type</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.Car.type }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Moteur</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.Car.moteur }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Immatricule</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.Car.immatriculation }}</p>
              </div>
            </div>

          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Piéce pour la réparation</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.Piece.piece_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Déscription du problème</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.description }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Coût du pièce</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.Piece.prix }} $</p>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Main d'oeuvre</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.Piece.main_oeuvre }} $</p>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Total</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ list.Piece.main_oeuvre + list.Piece.prix }} $</p>
              </div>
            </div>



          </div>
        </div>

        <div class="row" *ngIf="list.status == 'Terminer' && list.Car.etat == '1'">
          <div class="col-md-12">
            <div class="card">
              <div class="alert alert-success" role="alert" >
                Réparation terminée, vérifiez votre facture pour règlement!
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="list.status == 'Terminer' && list.Car.etat == '2'">
          <div class="col-md-12">
            <div class="card">
              <div class="alert alert-success" role="alert" >
                Payement effectué!
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
            <h3>
                Loading...
            </h3>
        </div>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
</section>
