<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Dépôt de voiture réussie!</strong>
  <button type="button" (click)="removeMessage" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="form"  method="POST">
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Merci de renseigner les champs suivants.">
        <div class="row">
          <div class="col-sm-6">
            <input type="file" id="file" (change)="onChange($event)" style="display:none">
            <label for="file">
              <img  [src]="imageSrc" style="width: 451px;height: 379px;"  alt="image">
            </label>
          </div>
          <div class="col-sm-1" style="height: 439px;border-left: 1px solid #d3bde9f5;"></div>
          <div class="col-sm-5">
            <app-card cardTitle="* Champs requis">
              <div class="form-group">
                <label for="exampleInputEmail1">Marque: *</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="marque" aria-describedby="emailHelp" placeholder="Citroen">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Type: *</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="type" aria-describedby="emailHelp" placeholder="C3">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Motorisation: *</label>
                <input type="email" class="form-control" formControlName="moteur" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1.9 TDI Boite auto">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Plaque d'immatriculation: *</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="immatricule" aria-describedby="emailHelp" placeholder="AA-456-BB">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>

              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-secondary">Valider</button>
              </div>
            </app-card>
          </div>
        </div>
    </app-card>
  </div>
</div>
</form>

<div class="my-container">
  <ng-template #customLoadingTemplate>
      <div class="custom-class">
          <h3>
              Loading...
          </h3>
      </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
