<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Avancement réparation pour cette voiture</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ detail.type }}" alt="">
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="close()">Valider</button>
  </div>
</ng-template>

<div class="row">
  <app-card cardTitle="Réception des voitures">
    <table   class="table">
      <thead>
        <tr>
          <th>Images</th>
          <th>Marques</th>
          <th>Types</th>
          <th>A réparer</th>
          <th>Description</th>
          <th>Coût</th>
          <th>Avancement</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of list">
          <td><img src="{{ car.Car.image }}" alt="" style="width: 100px;border-radius: 5px;"></td>
          <td>{{ car.Car.marque }}</td>
          <td>{{ car.Car.type }}</td>
          <td>{{ car.type }}</td>
          <td>{{ car.description }}</td>
          <td>{{ car.cout }} $</td>
          <td>
            <div>
              <progress-bar  progress="{{ car.avancement }}" [color]="'#488aff'">
              </progress-bar>
            </div>
          </td>
          <td>
            <button class="btn btn-primary" (click)="open(mymodal,car._id)">Détails</button>
          </td>
        </tr>
      </tbody>
    </table>

  </app-card>
  <div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
            <h3>
                Loading...
            </h3>
        </div>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
</div>


